h1{
    color:#0078cd;
}

h2{
    color:#7ac2f5;
}

h2 img{
    background-color: white;
}

h3{
    color:#7ac2f5;
}

#editbod{
    background-color: #6666;
}

input{
    color: #666;
    background-color: aliceblue;
}

select{
    color: #666;
    background-color: aliceblue;
}

textarea{
    background-color: aliceblue;
}

.tlacitko{
    background-color: #0078cd;
    color: white;
}

.tlacitko:hover{
    background-color:#57b9ff;
}

.formular{
    background-color: white;
}

.formular h2{
    background-color: #0078cd;
}

.volbysez a{
    background-color: #d6ecff;
}

.seznam th{
    background-color: #7bc2f5;
    color: white;
}

.seznam tr:hover{
    background-color: #7bc2f5;
}

.cookiesnas{
    background-color: #00365c;
}

.cookiesnas p{
    color:white;
}

.bcg_bila{
    background-color: #ffffff;
}

.bcg_seda{
    background-color: #ecebe8;
}

.bcg_bledemodra{
    background-color: #7bc2f5;
}

.bcg_tmavomodra{
    background-color: #005897;
}

.bcg_transparent{
    background-color: transparent !important;
}

.col_bila{
    color: #ffffff;
}

.col_seda{
    color: #ecebe8;
}

.col_bledemodra{
    color: #7bc2f5;
}

.col_tmavomodra{
    color: #005897;
}

.col_transparent{
    color: transparent !important;
}

.bor_bila{
    border:1px solid #ffffff;
}

.bor_seda{
    border:1px solid #ecebe8;
}

.bor_bledemodra{
    border:1px solid #7bc2f5;
}

.bor_tmavomodra{
    border:1px solid #005897;
}

.bor_transparent{
    border:none;
}

.block.logo{
    background-color: white;
}

.block.menu{
    background-color: white;
}

.menu_pas a{
    color:white;
    transition: all 0.3s ease-in;
}

.menu_pas a:hover{
    background-color:#007ad1;
    color:white;
}

.block_pata{
    background-color: #005897;
}

.block_pata a{
    color:#BBBBBB;
}

.pridejblok{
    background-color: #00970596;
}

.upravblok{
    background-color: #003c97aa;
}


.pridejpole{
    background-color: #00970596;
}


.upravpole{
    background-color: #003c97aa;
}

.pridejprvek{
    background-color: #00970596;
}

.upravprvek{
    background-color: #003c97aa;
}

.editstranka{
    background-color: #a5ff80;
}

.nabidka table tr:hover{
    background-color:#ecebe8;
}


















